nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  float: left;
  clear: both;
  z-index:500;
}

#nav-bar .logo {
height: 80px;
width: 80px;
position: relative;
}

#nav-bar .header{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200%;
  padding-left: 10px;
}

#nav-bar .composeButton {
float:right;
line-height:35px;
width:160px;
border-width: 1px;
border-style: solid;
border-color: black;
border-radius: 7px;
padding: 10px 10px 10px 10px;
background: #e8fdff;
transform: translateY(10px);
color: #00a087;
font-size:150%;
}

#nav-bar .composeButton:hover {
  background: white;
  color:black;
}